<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Suliga Projects</title>
	<link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1 class='shadowfont1'>Tom Suliga's Projects</h1>
<h2 class='shadowfont2'>Maze Generator</h2>
<h2 class='shadowfont2'>MineSweeper - JavaScript</h2>
<h2 class='shadowfont2'>MineSweeper - Websocket/Server</h2>
<h2 class='shadowfont2'>Recent Earthquakes</h2>
<h2 class='shadowfont2'>Backgammon</h2>
<h2 class='shadowfont2'>Arch Worlds</h2>
</body>
</html>